.person-in-work {
    position: relative;
    display: grid;
    gap: 10px;
    align-content: start;
    padding: 10px;
    border: 2px solid var(--bkg-800);
    border-radius: 10px;

    &__title {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .delete-person-button {
        padding: 0 10px;
    }

    header.details {
        display: flex;
        grid-column: 1 / -1;
        gap: 5px;
        align-items: center;

        h4 {
            margin: 0;
        }

        button {
            padding: 5px;
        }
    }

    .details-container {
        display: grid;
        grid-column: 1 / -1;
        gap: 5px;
        align-items: stretch;
    }
}
