.modal {
    position: relative;
    font-family: var(--font);
    color: var(--text);
    background-color: var(--bkg-900);
    border: 2px solid var(--bkg-800);
    border-radius: 10px;

    &--size {
        &-fit-content {
            padding: 10px;
        }

        &-screen {
            width: calc(100vw - max(5vw, 100px));
            height: calc(100vh - max(5vh, 100px) - 100px);
            margin-top: 120px;
        }
    }

    &__close-button {
        position: absolute;
        top: 4px;
        right: 4px;
    }

    &::backdrop {
        background-color: rgb(0 0 0 / 30.1%);
    }
}
