.errors-display {
    padding: 10px;
    background-color: var(--error-background);
    border: 3px solid var(--error-border);
    border-radius: 5px;
    animation: border-flash 2s;
}

@keyframes border-flash {
    0% {
        border-color: var(--error-border);
        transform: scale(100%);
    }

    20% {
        border-color: var(--error-border-highlighted);
        transform: scale(102%);
    }

    100% {
        border-color: var(--error-border);
        transform: scale(100%);
    }
}
