.completions-list {
    display: grid;
    gap: 10px;

    &__header {
        margin: 0;
    }

    &__input {
        display: flex;
        gap: 10px;
    }

    &__button {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    &__list {
        display: grid;
        gap: 10px;
        place-items: center;
        margin-top: 10px;
    }
}
