.autocomplete {
    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
    align-items: center;
    width: 250px;

    &__options {
        position: absolute;
        top: calc(1rem + 0.6em + 6px);
        z-index: 3;
        width: 200px;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
