.select {
    width: 100%;
    padding: 0.2rem 20px 0.2rem 0.2rem;
    font-size: 1rem;
    color: aliceblue;
    text-align: center;
    appearance: none;
    background: url("menu-down.svg") no-repeat right 2px center;
    background-color: rgb(177 177 177 / 20.5%);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgb(0 0 0 / 20%);

    &:focus-visible {
        outline: none;
    }

    &__option {
        background-color: rgb(54 54 54);
    }
}
