.select {
    padding: 0.2em 2em 0.2em 0.7em;
    font-size: 1rem;
    color: var(--text);
    text-align: center;
    appearance: none;
    background: url("menu-down.svg") no-repeat right 0 center;
    background-color: var(--bkg-800);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgb(0 0 0 / 20%);

    &:focus-visible {
        outline: none;
    }

    &__option {
        background-color: var(--bkg-800);
    }
}
