.all {
    display: grid;
    gap: 10px;
    place-content: center;
    place-items: center;
    height: 100%;
    padding: 20px;
    border: 2px solid #27272a;
}

.work-form {
    display: grid;
    gap: 2em;
    justify-content: start;

    .people-header {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .people {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
    }

    .metadata-header {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
    }
}
