.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}
