:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--text);

    --main-50: #ecfdf5;
    --main-100: #d1fae5;
    --main-400: #34d399;
    --main-500: #10b981;
    --main-600: #059669;
    --main-700: #047857;
    --main-800: #065f46;
    --main-950: #022c22;
    --bkg-100: #f4f4f5;
    --bkg-200: #e5e7eb;
    --bkg-400: #a1a1aa;
    --bkg-600: #52525b;
    --bkg-700: #3f3f46;
    --bkg-750: #2b2b2e;
    --bkg-800: #27272a;
    --bkg-900: #18181b;
    --star: #fbc02d;
    --error-background: #b521219a;
    --error-border: #b91c1c;
    --error-border-highlighted: #e34f4f;
    --black-tint: rgb(0 0 0 / 45%);
    --text: var(--bkg-200);
    --active: var(--main-500);
    --card-border-radius: 10px;
}

a {
    font-weight: 500;
    color: var(--text);
    text-decoration: inherit;
}

a:hover {
    color: var(--active);
}

body {
    min-width: 320px;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
}

#root {
    min-height: 100vh;
}

h1 {
    margin: 0;
    font-size: 3.2em;
    line-height: 1.1;
}

input {
    padding: 0.3em 0.6em;
    font-size: 1.3rem;
    color: var(--text);
    background-color: var(--bkg-800);
    border: 2px solid var(--main-600);
    border-radius: 5px;
}

textarea {
    padding: 0.3em 0.6em;
    font-size: 1.3rem;
    color: var(--text);
    background-color: var(--bkg-800);
    border: 2px solid var(--main-600);
    border-radius: 5px;
}
