:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

a {
    font-weight: 500;
    color: #fee2e2;
    text-decoration: inherit;
}
a:hover {
    color: #f87171;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin: 0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.87);
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #f87171;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
