.status-switcher {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;

    &__select-wrapper {
        width: 70%;
    }

    &__view-button {
        padding: 0;
        line-height: 0;
        background-color: rgb(0 0 0 / 2%);
        border: none;
        box-shadow: 0 0 1em 0 rgb(0 0 0 / 25%);
        transition: color 0.25s;

        &:disabled {
            color: rgb(161 161 161);
        }

        &:hover:not(:disabled) {
            color: #f87171;
        }
    }
}
