.status-switcher {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;

    &__view-button {
        padding: 0;
        line-height: 0;
        background: none;
        border: none;
        transition: color 0.25s;

        &:disabled {
            color: var(--bkg-800);
        }

        &:hover:not(:disabled) {
            color: var(--active);
        }
    }
}
