.work-container {
    > h2 {
        margin: 10px 0 2px;
    }

    > h5 {
        margin-top: 0;
    }

    &__image {
        position: relative;
        display: grid;
        place-items: center;
        width: 300px;
        height: 400px;

        /* MDI Icon */
        svg {
            padding: 20%;
        }

        /* NEXT image */
        img {
            object-fit: cover;
            object-position: top;
        }
    }

    .label {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .roles {
        display: flex;
        flex-direction: column;

        .people {
            display: flex;
            gap: 10px;

            .person {
                display: grid;
                place-items: center;
            }
        }
    }

    .metadata {
        display: flex;
        flex-flow: column wrap;
        gap: 5px;
        margin-top: 30px;
    }
}
