.img-container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    width: 100%;

    &--no-img {
        background-color: var(--bkg-800);
    }

    &--rounded-corners-top {
        border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
    }

    /* NEXT image */
    &__img {
        object-fit: fill;
        object-position: top;

        &--rounded-corners-top {
            border-radius: var(--card-border-radius) var(--card-border-radius) 0
                0;
        }
    }

    /* MDI icon */
    svg {
        padding: 20%;
    }
}
