.work-card {
    display: grid;
    grid-template-rows: max-content 1fr;
    width: 100%;
    height: 100%;

    &__image {
        border: 2px solid var(--bkg-800);
        box-shadow: 0 2px 20px 5px rgb(0 0 0 / 37.9%);

        &--rounded-corners-top {
            border-top-left-radius: var(--card-border-radius);
            border-top-right-radius: var(--card-border-radius);
        }

        &--rounded-corners-bottom {
            border-bottom-right-radius: var(--card-border-radius);
            border-bottom-left-radius: var(--card-border-radius);
        }
    }

    &__title {
        display: grid;
        place-content: center;
        place-items: stretch;
        padding: 5px 0;
        font-size: 1.2rem;
    }
}
