.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 20px;
    background-color: var(--bkg-900);
    border: 2px solid var(--bkg-800);
    border-radius: 8px;
    box-shadow: 0 2px 20px 5px rgb(0 0 0 / 37.9%);

    &__inputs {
        display: grid;
        gap: 40px;
        justify-content: stretch;
        justify-items: stretch;
        padding: 20px 0;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    a {
        font-size: 1rem;
        text-align: center;
        text-decoration: underline;
    }
}
