.rating-bar {
    display: flex;
    flex-direction: row-reverse;
    width: min-content;

    &__star {
        display: grid;
        place-items: center;
        color: var(--text);

        &--selected,
        &--interactable:hover {
            color: var(--star);
        }

        &--selected ~ &,
        &--interactable:hover ~ & {
            color: var(--star);
        }
    }
}
