.add-card {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1.4;
    border-radius: 20px;

    /* MDI icon */
    svg {
        padding: 30%;
    }
}
