.instance {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 0 10px 10px;
    background-color: rgb(134 134 134 / 19.9%);
    border-radius: 20px;

    &__link-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    &__img-container {
        position: relative;
        display: grid;
        place-items: center;
        width: calc(100% + 20px);
        aspect-ratio: 3/4;

        /* MDI icon */
        svg {
            padding: 20%;
        }

        /* NEXT image */
        img {
            object-fit: cover;
            object-position: top;
            border-radius: 20px 20px 0 0;
        }
    }

    &__title {
        justify-self: end;
    }
}
