.instance {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 0 0 10px;
    background-color: var(--bkg-800);
    border-radius: var(--card-border-radius);

    &__link-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    &__title {
        justify-self: end;
    }
}
