.instance {
    display: grid;
    gap: 5px;
    align-items: flex-start;

    &__card {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: space-between;
        padding: 0 0 5px;
        background-color: var(--bkg-800);
        border-radius: var(--card-border-radius);
    }

    &__title {
        font-size: 1.2rem;
        text-align: center;
    }
}
