.about {
    display: grid;
    padding: 10px 20px;
    font-size: 1.3rem;

    &__header {
        margin: 0 0 20px;
        font-size: 3rem;
    }

    &__apis-list {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 30px;
        margin-bottom: 20px;
        font-size: 1.8rem;
    }
}
